*{
    margin: 0;
    padding: 0;
}
.header-ul{
    list-style: none;
    display: flex;
    padding-top: 30px;
    margin-left: 55px;
}

.header-ul li.header-right{
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-left: 449px;
    font-size: 25px;
    padding-top: 13px;
}
.header-ul>li{
    margin-left: 35px;
    cursor: pointer;
}
.head-r{
    font-size: 25px;
    padding-top: 13px;
}
.head-l{
    font-size: 25px;
    padding-top: 13px;
    margin-left: 70px;
}

.logo{
    font-family: serif;
    font-size: 40px;
    margin-left: 54px;
}
.action{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    margin-top: 32px;
    font-style: normal;
    font-weight: 300;
    font-size: 49px;
    line-height: 59px;
}
.action-comm{
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    margin-top: 22px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}
.main-img{
    display: flex;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 800px;
    height: 500px;

}
.main-button{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.main-butt{
    position: absolute;
    width: 257px;
    height: 49px;
    justify-content: center;
    border-radius: 78px;
    background: rgba(0, 0, 0, 0.81);
    cursor: pointer;
}
.butt-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 563;
    font-size: 18px;
    line-height: 22px;
    color: white;
}
.foot-text-block{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: rgba(0, 0, 0, 0.6);
    
}
.main-div-2{
    position: absolute;
    width: 360px;
    height: 484px;
    background: #D9D9D9;
    left: 650px;
    top: 287px
}
.main-img-2{
    position: absolute;
    width: 444px;
    height: 594px;
    left: 850px;
    top: 224px;
}
.main-text-2{
    display: flex;
    justify-content: center;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 41px;
    text-align: center;
    margin-top: 15px;
}
.main-text-2-2{
    display: flex;
    margin-top: 21px;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 21px;
    text-align: center;
}
.main-butt-2{
    position: absolute;
    width: 178px;
    height: 42px;
    color: white;
    background: #000000;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    margin-left: 25px;
    margin-top: 25px;
}
.main-div-text-3{
    position: absolute;
    width: 358px;
    height: 96px;
    left: 174px;
    top: 261px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 50px;
    text-align: center;

    color: rgba(0, 0, 0, 0.82);
}
div>.main-div-text-3-1{
    position: absolute;
    width: 203px;
    height: 68px;
    left: 243px;
    top: 385px;
    text-decoration: none;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;

    color: rgba(0, 0, 0, 0.78);
}
div>.main-div-text-3-2{
    position: absolute;
    width: 203px;
    height: 68px;
    left: 243px;
    top: 489px;
    text-decoration: none;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;

    color: rgba(0, 0, 0, 0.78);
}
div>.main-div-text-3-3{
    position: absolute;
    width: 203px;
    height: 68px;
    left: 243px;
    top: 588px;
    text-decoration: none;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;

    color: rgba(0, 0, 0, 0.78);
}
.line2{
    position: absolute;
    width: 470px;
    height: 0px;
    left: 491px;
    top: 470px;

    border: 1px solid #000000;
    transform: rotate(90deg);
}
.main-div-text-r-1{
    position: absolute;
    width: 455px;
    height: 48px;
    left: 838px;
    top: 261px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 50px;

    color: rgba(0, 0, 0, 0.82);
}
.main-div-text-r-2{
    position: absolute;
    width: 267px;
    height: 20px;
    left: 906px;
    top: 403px;
    text-decoration: none;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;

    color: rgba(0, 0, 0, 0.65);
}
.main-div-text-r-3{
    position: absolute;
    width: 197px;
    height: 19px;
    left: 955px;
    top: 465px;
    text-decoration: none;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;

    color: rgba(0, 0, 0, 0.63);
}
.main-div-text-r-4{
    position: absolute;
    width: 128px;
    height: 12px;
    left: 969px;
    top: 533px;
    text-decoration: none;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;

    color: rgba(0, 0, 0, 0.75);
}
.main-div-box-1{
    box-sizing: border-box;

    position: absolute;
    width: 367px;
    height: 46px;
    left: 1300px;
    top: 274px;

    background: #FFFFFF;
    border: 1px solid #000000;
}
.main-div-box-2{
    box-sizing: border-box;

    position: absolute;
    width: 367px;
    height: 47px;
    left: 1300px;
    top: 362px;

    background: #FFFFFF;
    border: 1px solid #000000;
}
.main-div-box-3{
    box-sizing: border-box;

    position: absolute;
    width: 172px;
    height: 46px;
    left: 1300px;
    top: 451px;

    background: #FFFFFF;
    border: 1px solid #000000;
}
.main-div-box-4{
    box-sizing: border-box;

    position: absolute;
    width: 172px;
    height: 46px;
    left: 1500px;
    top: 451px;

    background: #FFFFFF;
    border: 1px solid #000000;
}
.main-div-box-5{
    box-sizing: border-box;

    position: absolute;
    width: 367px;
    height: 105px;
    left: 1300px;
    top: 539px;

    background: #FFFFFF;
    border: 1px solid #000000;
}
.main-div-name{
    position: absolute;
    width: 36px;
    height: 21px;
    left: 1320px;
    top: 248px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;

    color: rgba(0, 0, 0, 0.62);
}
.main-div-adres{
    position: absolute;
    width: 103px;
    height: 20px;
    left: 1320px;
    top: 337px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;

    color: rgba(0, 0, 0, 0.62);
}
.main-div-email{
    position: absolute;
    width: 103px;
    height: 21px;
    left: 1320px;
    top: 425px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;

    color: rgba(0, 0, 0, 0.62);
}
.main-div-tel{
    position: absolute;
    width: 102px;
    height: 21px;
    left: 1515px;
    top: 425px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;

    color: rgba(0, 0, 0, 0.62);
}
.main-div-message{
    position: absolute;
    width: 103px;
    height: 20px;
    left: 1320px;
    top: 514px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;

    color: rgba(0, 0, 0, 0.62);
}
.main-div-send-mess{
    position: absolute;
    width: 138px;
    height: 35px;
    left: 1208px;
    top: 673px;
    display: flex;
    justify-content: center;
    background: #000000;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
}
.main-div-send-message-text{
    position: absolute;
    width: 83px;
    height: 20px;
    display: flex;
    justify-content: center;
    left: 1233px;
    top: 682px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    cursor: pointer;
    color: #FFFFFF;
}
.main-div-button-adres{
    background: #000000;
    position: absolute;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 567;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: white;
    top: 750px;
    left: 743px;
    width: 200px;
    height: 70px;
    cursor: pointer;
    
}
/*.main-div-button-sendadres{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
*/
.main-text-faq{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 50px;
    margin-left: 70px;
    padding-top: 181px;
    color: #000000;
    top: 20px;
    position: absolute;
}
.main-div-faq-1{
    position: absolute;
    width: 560px;
    height: 30px;
    left: 89px;
    top: 360px;
    text-decoration: none;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;

    color: rgba(0, 0, 0, 0.64);
}
.main-div-faq-1-2{
    position: absolute;
    width: 637px;
    height: 181px;
    left: 714px;
    top: -92px;
    

    background: rgba(217, 217, 217, 0.53);
}
.main-div-faq-text-answer-1{
    position: absolute;
    width: 582px;
    height: 147px;
    left: 15px;
    top: 15px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;

    color: rgba(0, 0, 0, 0.66);

}
.main-div-faq-2-1{
    position: absolute;
    width: 470px;
    height: 31px;
    left: 89px;
    top: 554px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;

    color: rgba(0, 0, 0, 0.64);
}
.main-div-faq-2-2{
    position: absolute;
    width: 637px;
    height: 181px;
    left: 803px;
    top: 490px;

    background: rgba(217, 217, 217, 0.53);
}
.main-div-faq-text-answer-2{
    position: absolute;
    width: 582px;
    height: 147px;
    left: 15px;
    top: 15px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;

    color: rgba(0, 0, 0, 0.66);
}
.main-div-faq-3-1{
    position: absolute;
    width: 567px;
    height: 40px;
    left: 89px;
    top: 765px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;

    color: rgba(0, 0, 0, 0.64);
}
.main-div-faq-3-2{
    position: absolute;
    width: 637px;
    height: 181px;
    left: 800px;
    top: 702px;

    background: rgba(217, 217, 217, 0.53);
}
.main-div-faq-text-answer-3{
    position: absolute;
    width: 582px;
    height: 147px;
    left: 15px;
    top: 15px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;

    color: rgba(0, 0, 0, 0.66);
}
.main-div-registr{
    box-sizing: border-box;

    width: 746px;
    height: 680px;

    display: flex;
    justify-content: center;

    background: #FFFFFF;
    border: 1px solid #000000;

    margin-top: 75px;
}
.main5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.registr{
    background: #000000;
    border: 1px solid #000000;
    width: 375px;
    height: 79px;
}
.autorize{
    background: #000000;
    border: 1px solid #000000;
    width: 375px;
    height: 79px;
    display: flex;
    float: right;
}